body {
    margin: 0;
    background: #E6E5A7;
    font-family: serif;
    font-weight: 350;
    overflow: hidden;
    
}

.container {
    margin: 0 auto;
}

header {
    background-color: #1E2F3B;
}

header::after{
    content: '';
    display: table;
    clear:both;
}

nav {
    text-align: center;
    
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {  
    display: inline-block;
    text-align: center;
    margin-left: 40px;
    padding: 20px 0;   
}

nav ul li a {
    color: #eff5b7;
    font-size: 100%;
    text-decoration:  none;
    text-transform: uppercase;
}

nav ul li a:hover {
    color:#81AB9D;
}

header nav ul li a {
    text-shadow: 1px 1px  black; /* Adjust these values as needed */
}

.card-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh; /* Use min-height to ensure it takes up at least the full viewport height */
  position: relative;
}

.card1 {
    font-size: 23px;
    box-shadow: 2px 2px 2px 2px  #1E2F3B;
    width: 12em;
    height: 6em; 
    background-color: #f0f0f0;
    border: 3px solid #2C3147;
    color: #1E2F3B;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 3%;
    background-color: #81AB9D;
    padding: 5%;
}
.card1 a{
    text-decoration: none;
    color:#1E2F3B
}
.card1 a:hover{
    color:#E6E5A7;
}

.projects-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh; /* Use min-height to ensure it takes up at least the full viewport height */
    position: relative;
}

.projects-container a{
    text-decoration: none;
}

.projects-container a .project1:hover{
    color:#E6E5A7
}
.project1{
    font-size: 23px;
    width: 12em;
    height: 6em; 
    background-color: #f0f0f0;
    border: 3px solid #2C3147;
    color: #1E2F3B;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5%;
    background-color: #81AB9D;
    padding: 5%;
}
