body {
    background: #fff;
    font-family: serif;
    font-weight: 350;
    margin: 0; 
    height: 100vh;
}

h1{
    text-align: center
}
.food-container{
    display: flex;
    flex-direction: row;
    height: 100%;
    
}

.food1, .food2, .food3{
    border: 2px solid;
    flex:1;

}
.food1 p, .food2 p, .food3 p{
    text-align: center;

}
