body {
    background: #fff3c3;
    font-family: serif;
    font-weight: 350;
    margin: 0; 
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1{
    text-align: center
}
.food-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    flex-grow: 1;  
}

.food-img img{
    border: 4px solid;
    border-color: #ff7e6f;
    border-radius: 25%;
    text-align: center;
    width: 360px;
    height: 200px;

}

.recipe-list{
    text-align: center;
    text-decoration: none;
}

.recipe-list ul{
    list-style:  none;
    padding: 0;
}

.recipe-list p{
    color: #dd9c4c;
}

.recipe-list ul li a{
    color: #e1b879;
    text-decoration: none;
}

.recipe-list ul li a:hover{
    color:  #ff7e6f;
}

.breakfast-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
}

.breakfast-box1 img{
    border: 4px solid;
    border-color: #ff7e6f;
    border-radius: 25%;
    width: 300px;
    height: 250px;
}

.breakfast-box1 {
    margin-left:7%;
   
}

.breakfast-box1 p{
    justify-content: center;
    text-align: center;
    color: #e1b879;
    margin-top: -0.5%;
}

.breakfast-box2{
    padding: 30px;
    margin-top: -3%;
    margin-right: 10%;
}

.breakfast-box2 p{
    text-align: center;
    color: #eb776a;
}

.breakfast-box2 p a{
    text-decoration: none;
    color: #dd9c4c;
}

.breakfast-box2 p a:hover{
    color: #ff7e6f;
}

.breakfast-box2 ul li{
    list-style: none;
    color: #eb776a;
}
